{% extends "Layout.html" %}

{% block content %}
<div class="container">
    <h1 class="titre">
        <strong>
            Construisez votre arbre généalogique
        </strong>
    </h1>
    <div class="centre">
        <span class="dot">
        </span>
        <p class="description">
            Sit et lorem gubergren invidunt kasd kasd lorem consetetur sed, at takimata magna labore nonumy takimata
            sadipscing aliquyam. Diam tempor. Amet tempor diam ipsum dolores voluptua, sea et est sadipscing accusam
            elitr sit, amet voluptua elitr vero ut tempor et justo lorem lorem. Diam amet no clita amet sed kasd at.
            Rebum at amet dolor clita sanctus amet, kasd nonumy takimata dolor erat aliquyam at, dolor ut amet
            consetetur et. Tempor lorem tempor est diam, vero accusam takimata sed vero kasd, diam sadipscing sanctus
            sadipscing stet sit. Lorem stet dolor dolore lorem takimata est, labore vero et ipsum voluptua stet accusam
            ipsum, est no lorem lorem et sanctus et et lorem, est elitr et lorem dolores ea dolor et, aliquyam dolor
            dolor kasd labore clita, sea voluptua ipsum ut et. Tempor et diam sanctus no voluptua justo ipsum duo. Eos
            justo dolor gubergren amet voluptua. Magna consetetur ipsum duo elitr diam vero consetetur sanctus sed, ea
            sed dolor sadipscing sed aliquyam dolor. Eos ea eirmod sed sadipscing accusam ipsum diam dolore sea, et
            dolores diam dolor lorem et et. Tempor eirmod amet aliquyam erat, lorem stet sanctus tempor sed sanctus,
            clita kasd diam est kasd et aliquyam at et, magna eirmod justo sed duo. Et no at lorem ipsum ut ut, ut no
            eos labore lorem. Dolore tempor diam clita.
        </p>
        <span class="dot">
        </span>
    </div>
    <div class="btn">
        <a href="/accueil/connection">
            <button class="main">
                On commence ?
            </button>
        </a>
    </div>
</div>
{% endblock %}