{% extends "Layout.html" %}

{% block content %}
    <div class="container">
        <div class="loginbox" style="height:550px">
            <img src="/ressources/avatar-default-icon.png" class="avatar">
            <h1>
                Récupérez votre compte
            </h1>
            <form action="/changePass" method="GET">
                <p>
                    Nom utilisateur
                </p>
                <input type="text" name="name" placeholder="Nom d'utilisateur">
                <p>
                    Entrez votre nouveau mot de passe
                </p>
                <input type="password" name="password" placeholder="Mot de passe">
                <p>
                    Confirmer le mot de passe
                </p>
                <input type="password" name="confirm" placeholder="Mot de passe">
                <input class="sub" type="submit" value="Enregistrer">
            </form>
            <div>
                <a href="/annuler">
                    <button class="annuler">
                        Annuler
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}